@import 'styles/variables';

.demand {
  height: 100%;
  display: grid;
  grid-template-columns: 30% auto;
  grid-template-areas: "navbar content";
}

hr {
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top-width: 0px;
  border-top-style: none;
  border-top-color: currentcolor;
  border-top: 1px solid rgba(0, 0, 0, .1);
}

.demand-navbar {
  grid-area: navbar;
  display: flex;
  align-items: center;
  height: 50%;
  margin-top: 50px;
 
  .demand-navbar-title {
    @extend %title-bold;
  } flex-direction: column;
}

.demand-content-title {
  width: 100%;
}

.demand-content {
  grid-area: content;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 25px;
}

.demand-li {
  @extend %subheader;
  // font-size: 20px;
  // font-weight: 300;
  margin: 25px;
}
