$font-prefix: '../node_modules/@ibm/plex';
@import 'node_modules/@ibm/plex/scss/ibm-plex.scss';
@import 'carbon-components/scss/globals/scss/styles.scss';
@import 'styles/variables';

.app {
  font-family: $plex-sans;
  font-weight: 400;
  height: 100vh;
  width: 100%;
  background: #f8f8f8;

  h1 {
    margin: 0;
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

.app-header {
  height: $header-height;
  background: white;

  h1 {
    @extend %headline;
    // color: #009bee;
    color: white;
    background: #1e3649;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 75px;
  }
}

.app-navbar {
  height: $navbar-height;
  background: #f8f9fa;
  // border-top: 2px solid #d5d5d5;
  border-bottom: 1px solid #d5d5d5;
}

.navbar-route-list {
  height: 100%;
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;

  .navbar-route {
    text-transform: uppercase;
    font-size: 1.25em;
    color: #454545;
  }
}

.app-content {
  height: calc(100% - #{$header-height} - #{$navbar-height});
}
