@import 'styles/variables';

.position-stage {
  padding-top: 40px;
  width: 50%;
}

.position-section {
  margin-bottom: 45px;
}

.position-section-title {
  margin-bottom: 10px;
}

.position-dropdown {

}
