@import 'styles/variables';

.navbar {
  grid-area: navbar;
  display: flex;
  align-items: flex-start;
  padding-left: 100px;
  height: 50%;
  margin-top: 50px;
 
  .navbar-title {
    @extend %title-bold;
  } flex-direction: column;
}

.navbar-ul {
  position: relative;
  height: 100%;}

.navbar-li {
  @extend %subheader;
  // font-size: 20px;
  // font-weight: 300;
  margin: 20px 15px;
  padding: 5px 10px;
  transition: all .2s ease-in-out;

  &:hover {
    transition: all .2s ease-in-out;
    cursor: pointer;
    color: $xcedrin-btn-hover;
  }
  
  &:last-child {
  	position: absolute;
  	bottom: 0;
  }
}

.selected {
  border-radius: 3px;
  border-left: 3px solid $xcedrin-btn-hover;
  color: $xcedrin-btn-hover;
}

