@import 'styles/variables';

.subgroup-stage {
  padding-top: 40px;
  width: 75%;}

.subgroup-input {
  width: 100%;
  margin-right: 25px; }

.subgroup-stage-title {
  margin-bottom: 10px; }
  
.subgroup-month {
	margin-bottom: 30px;}

.subgroup-text-input {
	margin-top: 5px !important;}