@import 'styles/variables';

.dashboard {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 500px auto;
  grid-template-areas:
  "summary table";
}

.dashboard-summary {
  grid-area: summary;
  display: flex;
  justify-content: center;
}

.dashboard-table {
  grid-area: table;

  .table-title {
  }

  .demand-table {
  }
}


