@import 'styles/variables';

.dashboard {
	padding-left: 10%;
  	padding-top: 40px;
  	width: 75%;
}

.dashboard-table {
	width: 100%;
  	margin-right: 25px;
}

.dashboard-table-title {
	margin-bottom: 10px;
}


