@import 'styles/variables';

.location-stage {
  padding-top: 40px;
  width: 50%;
}

.location-section {
  margin-bottom: 45px; 
  display: flex;
}
  
.location-num-input {
  margin-top: 4px;}
  
.location-name-input {
  width: 75%;
  margin-right: 5%;
}

.location-stage-title {
  margin-bottom: 10px;
}
