@import 'styles/variables';

.location-stage {
  padding-top: 40px;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.location-name-input {
  width: 100%;
  margin-right: 25px;
}

.location-stage-title {
  margin-bottom: 10px;
}

.location-num-openings {
  // height: 52px;
}
